.header__lang-item {
    list-style-type: none;
    min-width: 30px;
    min-height: 28px;
    margin: 0;
    margin-top: 18px;
    margin-bottom: 6px;
}

.header__lang-item:first-of-type {
    margin-right: 18px;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        min-width: 22px;
    }
}