.places {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    row-gap: 80px;
    max-width: 984px;
    margin: 0 auto;
    margin-top: 92px;
    box-sizing: border-box;
    padding: 0;
}

@media screen and (max-width: 1024px) {
    .places {
        max-width: 928px;
    }    
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 720px;
        margin-top: 88px;
        row-gap: 73px;
    }    
}

@media screen and (min-width: 321px) and (max-width: 400px) {
    .places {
        max-width: 320px;
        margin-top: 64px;
        row-gap: 50px;
        grid-template-rows: repeat(5, minmax(min-content, max-content));
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 320px;
        margin-top: 64px;
        row-gap: 50px;
        grid-template-rows: repeat(5, minmax(min-content, max-content));
    }    
}