.intro__list {
    list-style-type: none;
    max-width: 690px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 321px) and (max-width: 690px) {
    .intro__list {
        max-width: 90vw;
    }
}

@media screen and (max-width: 320px) {
    .intro__list {
        min-width: 288px;
    }
}