.footer__links {
    display: flex;
    flex-direction: row;
    gap: 0 18px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 321px) and (max-width: 767px) {
    .footer__links {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 320px) {
    .footer__links {
        flex-direction: column;
        gap: 32px 0;
    }
}