.cover__subtitle {
    font-family: 'Inter';
    font-style: normal;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.22;
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
    max-width: 360px;
    color: #fff;
    z-index: 6;
    padding-top: 32px;
    padding-bottom: 245px;
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
    .cover__subtitle {
        padding-bottom: 195px;
    }
}


@media screen and (min-width: 321px) and (max-width: 767px) {
    .cover__subtitle {
        max-width: 740px;
        padding-top: 22px;
    }
}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
        padding-top: 16px;
        padding-bottom: 33px;
    }
}
